@import "../../common/style/variables";

.fm-logo {
    animation: logo-spin infinite 5s linear;
    height: 20px;
    pointer-events: none;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fm-menu {
    background: $fmMenuBG;
    color: $menuTextColor;
    height: $menuHeight;

    display: flex;
    flex: 0 1 auto;

    & div {
        display: flex;
    }

    & .logo {
        width: 180px;
        background-color: coral;
    }
    & .menu-items {
        background-color: red;
        width: 100%;
    }
    & .client {
        width: 180px;
        background-color: green;
    }
}

.client-menu {
    background: $clientMenuBG;
    color: $menuTextColor;
    height: $menuHeight;

    display: flex;
    flex: 0 1 auto;

    & div {
        display: flex;
    }

    & .logo {
        width: 140px;
        background-color: coral;
    }
    & .menu-items {
        background-color: red;
        width: 100%;
    }
    & .search {
        width: 120px;
        background-color: green;
    }
}

