@import "../../common/style/variables";

.fm-logo {
    animation: logo-spin infinite 5s linear;
    width: 35px;
    pointer-events: none;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fm-menu {
    background: $fmMenuBG;
    color: $menuTextColor;
    height: $menuHeight;

    display: flex;
    flex: 0 1 auto;

    & div {
        display: flex;
    }

    & .logo {
        background-color: coral;
        white-space: nowrap;
        font-size: 25px;
    }
    & .menu-items {
        background-color: #ffe513;
        width: 100%;
    }
    & .client {
        width: 180px;
        background-color: green;
    }
}

.client-menu {
    background: $clientMenuBG;
    color: $menuTextColor;
    height: $menuHeight;

    display: flex;
    flex: 0 1 auto;

    & div {
        display: flex;
    }

    & .logo {
        min-width: 100px;
        background-color: rgba(255, 131, 76, 0.51);
        white-space: nowrap;
    }
    & .menu-items {
        background-color: rgba(255, 235, 20, 0.52);
        width: 100%;
    }
    & .search {
        width: 120px;
        background-color: rgba(0, 128, 0, 0.52);
    }
}

